<IfModule mod_rewrite.c>
    RewriteEngine On

    # In dockerized environment the application will be placed in the root server directory
    RewriteBase /

    # For not dockerized development environment we can use subfolder inside server root (e.g. /var/www/html) to place the project (e.g., /it-proj)
    # RewriteBase /it-proj/
	
    # Don't rewrite requests for existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all other requests to index.php for routing by the application
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
